html,body{
	background-color: #fff;
}

/* Login Form */
.bc-login-form-container{
	background: #EE3D39; 
	padding: 10px;
}

.bc-login-form{
	background:#EE3D39; 
	color: #e5e5e5; 
	padding: 20px; 
	padding-top:120px;
	border: 2px solid white;
}

.bc-login-form-logo{
	position:absolute;  
	width:42%; left:29%; right:29%; 
	height:10%; top:5%; bottom:85%;
}
	/* image logo */
	.bc-login-form-logo img{
		margin-left:10%; margin-right: 10%;
		height: 100%; width:80%;
	}

.bc-login-form-title{
	position:absolute;  
	width:60%; left:20%; right:20%; 
	height:10%; top:16%; bottom:74%;
	color: white;
	font-size: 20px;
	text-align: center; 
}

/* Web Page Banner */
.img-banner { width:200px; height: 20px;}
.img-banner img{ width:200px; height: 40px; position: absolute; top:3px;}

/* Customization */
.btn-icon{
	width: 52px; height: 52px;
	margin:4px;
	background-color:red;
}

